<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
        <target name="logfile" xsi:type="File"
                fileName="MapiExplorer.log"
                keepFileOpen="true"
                autoFlush="false"
                openFileFlushTimeout="20"
                archiveAboveSize="10000000"
                archiveEvery="Day"
                enableArchiveFileCompression="true"
                archiveFileName="MapiExplorer.{#}.zip"
                archiveNumbering="DateAndSequence"
                archiveDateFormat="yyyyMMdd"
                maxArchiveDays="14"
                layout="${longdate} ${pad:padding=-5:inner=${level:uppercase=true}} &lt;${logger}&gt; ${message}${exception:format=tostring}" header="${longdate} === LOGGING STARTED ===" footer="${longdate} === LOGGING STOPPED ==="/>
    </targets>
    <rules>
        <!--
            minlevel: Trace/Debug/Info/Warn/Error/Fatal
        -->

        <!-- file logs -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>
